[Unit]
Description=Pixelcade Service
After=network.target

[Service]
Type=forking
ExecStart=$HOME/pixelcade/system/autostart.sh
WorkingDirectory=$HOME/pixelcade/system
User=pi

[Install]
WantedBy=multi-user.target
